.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    background-color: white;
    height: fit-content;


    max-width: 80%;
    min-width: 40%;
    padding: 30px;

    & h1 {
        color: var(--main-color);
    }


}


.cancel-btn, .login-btn {
    cursor: pointer;
    font-size: var(--font-medium);
    border-radius: 4px;
}

.cancel-btn {
    padding: 5px 15px;
    background-color: transparent;
    border: 1px solid var(--main-color);
    cursor: pointer;
}

.login-btn {

    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 5px 20px;
}


.authorization-input-container {

    border: 2px solid var(--main-color);
    border-radius: 6px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;

    & label {
        position: absolute;
        top: -10px;
        padding-left: 5px;
        padding-right: 5px;
        background-color: white;
        color: var(--main-color);
    }

    & input {
        border: none;
        padding: 5px;
        outline: transparent;
        width: 100%;
    }
}

.cancel-submit {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;

    cursor: pointer;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media only screen and (max-height: 450px){
    .input-wrapper{
        flex-direction: row;
    }
}

@media only screen and (max-width: 400px) {

    .login-form {
        width: 90vw;
    }
}

@media only screen and (max-width: 400px) {
    .cancel-btn, .login-btn {
        font-size: var(--font-small);
        width: 100%;

    }

    .cancel-submit {
        justify-content: center;
    }

    .authorization-input-container {
        label {
            font-size: var(--font-small);
        }
    }
}