
.header-container {
    position: fixed;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    z-index: 9999;
}

.navigation-wrapper{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links {
    display: flex;
    gap: 5px;
    align-items: center;

    border: 1px solid var(--main-color);
    border-radius: 25px;

    & a {
        text-decoration: none;
        color: var(--main-color);
        padding: 5px 10px;
        cursor: pointer;
    }

    & a:nth-child(1) {
        background-color: var(--main-color);
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
        color: white;
    }
}

.login-btn {
    border-radius: 4px;
    border: none;
    outline: transparent;
    background-color: var(--main-color);
    color: white;
    padding: 5px 20px;
    font-size: var(--font-medium);
    cursor: pointer;
}